*.deb
*.dsc
*.build
*.buildinfo
*.changes
*.qmake.stash
*.qm
*.o
*.log
*.tar.xz
*.substvars
*.so
*.so.*
moc_*
qrc_*
ui_*
Makefile
build-arch-stamp
build-indep-stamp
configure-stamp
systemback/debian/.debhelper
systemback/debian/libsystemback
systemback/debian/libsystemback-dbg
systemback/debian/systemback
systemback/debian/systemback-cli
systemback/debian/systemback-cli-dbg
systemback/debian/systemback-dbg
systemback/debian/systemback-efiboot-amd64
systemback/debian/systemback-locales
systemback/debian/systemback-scheduler
systemback/debian/systemback-scheduler-dbg
systemback/debian/files
systemback/sbscheduler/sbscheduler
systemback/sbsustart/sbsustart
systemback/sbsysupgrade/sbsysupgrade
systemback/systemback/systemback
systemback/systemback-cli/systemback-cli

